.text-primary {
    color: #434343;
}

.custom-scroll {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #e5e7eb transparent;
    /* Firefox */
}

.custom-scroll::-webkit-scrollbar {
    width: 6px;
    /* Very narrow width */
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    border-radius: 20px;
}

/* Optional: Style the scrollbar corner */
.custom-scroll::-webkit-scrollbar-corner {
    background: transparent;
}